<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel='icon' href='/img/weather.png'>
   <link rel="stylesheet" href="css/styles.css">
<body>
    <div class="main-content">
    {{>header}}
    <p>This site was created by Petra Atef.</p>
    <img class="portrait" src="/img/IMG_9785 copy.jpg">
    </div>
    
    {{>footer}}
</body>

</head>

</html>